.background-header img {
  margin: 0 auto;
  height: 650px;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 4px 4px #00000040;

  @include vp-1023 {
    height: 638px;
  }

  @include vp-767 {
    height: 100%;
  }
}

.background-header {
  position: relative;
  margin: 0 auto;
  background-color: #4d8cc4;
  width: 100%;
  height: 650px;

  @include vp-1023 {
    height: 638px;
  }

  @include vp-767 {
    height: 500px;
  }
}

.background-header.active {
  &::before {
    content: " ";
    height: 100vh;
    width: 100%;
    background: rgba(0, 43, 102, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
}
