.footer {
  background-color: $color-dark-blue;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding: 36px 0;

  @include vp-1023 {
    padding: 26px 21px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 0;
    padding-top: 39px;
  }
}

.footer__list {
  display: flex;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: start;
  }
}

.footer__list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: -10px;


  @include vp-1023 {
    margin-left: -25px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    margin-left: 0;
  }
}

.footer__list li {
  list-style: none;

  @include vp-767 {
    margin-top: 2px;
    margin-bottom: 6px;
  }
}

.footer__list li:not(:first-of-type) {
  margin-left: 33px;

  @include vp-1023 {
    margin-left: 23px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.footer__list li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  transition: opacity, 0.5s;

  &:hover {
    opacity: 0.7;
  }

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__list img {
  transition: opacity, 0.5s;
  margin-right: 10px;

  &:hover {
    opacity: 0.7;
  }

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.footer__list-icons ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 24px;
  margin-right: -10px;

  @include vp-767 {
    margin-left: -14px;
    margin-top: 15px;
    margin-bottom: 32px;
  }
}

.footer__list-icons ul li {
  list-style: none;
  margin-left: 6px;


  @include vp-1023 {
    margin-left: 0px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.footer__list-icons ul a {
  padding: 10px;
  transition: opaity, 0.5s;

  &:hover {
    opacity: 0.6;
  }
}

.footer__list-icons svg {
  transition: opacity, 0.5s;
  width: 20px;
  height: 20px;

  &:hover {
    opacity: 0.6;
  }

  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
