.background-header img {
  margin: 0 auto;
}

.header-wrapper {
  position: relative;
}

.nav {
  max-width: 1160px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.nav button {
  display: none;
}

.nav__list img {
  display: none;
}
