.overflow-hidden {
  overflow: hidden;
}


.background-header img {
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.background-header {
  position: relative;
}

.background-header.active {
  &::before {
    content: '';
    height: 100vh;
    width: 100%;
    background: rgba(0, 43, 102, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header-wrapper {
  position: relative;
  overflow-x: hidden;
}

.nav {
  max-width: 1224px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  margin-top: 28px;

  @include vp-1023 {
    max-width: 726px;
    margin-top: 12px;
  }


}

.nav img {
  margin-top: 7px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
    margin-top: 18px;
  }

  @include vp-767 {
    width: 48px;
    height: 22px;
    margin-top: 8px;
    margin-left: -3px;
  }

  transition: opacity, 0.5s;

  &:hover {
    opacity: 0.8;
  } 
}

.nav button {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
  border: 0;
  background: none;
  z-index: 99;
  padding: 10px;

  @include vp-767 {
    display: flex;
  }
}

.nav button span {
  @include vp-767 {
    width: 24px;
    height: 2px;
    background-color: $color-white;
    transition: width, 0.8s;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      top: 4px;
      right: 10px;
      background-color: $color-white;
      transition: translate, 0.8s;
      z-index: 99;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      bottom: 4px;
      right: 10px;
      background-color: $color-white;
      transition: translate, 0.8s;
      z-index: 99;
    }
  }
}

.nav button.active span {
  width: 0;

  &::before {
    transform: rotate(45deg);
    bottom: 9px;
    right: 5px;
    width: 22px;
    background-color: $color-dark-blue;
  }


  &::after {
    transform: rotate(-45deg);
    top: 11px;
    right: 4px;
    width: 22px;
    background-color: $color-dark-blue;
  }
}

.nav__list ul {
  display: flex;

  @include vp-767 {
    visibility: hidden;
    width: 0;
    height: 100vh;
    background-color: $color-white;
    flex-direction: column;
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: translate, 0.8s;
  }
}

.nav__list.active ul {
  padding: 87px 2px;
  width: 285px;
  visibility: visible;
  transform: translateX(0);
}


.nav__list.active a {
  color: $color-dark-blue;
  font-size: 18px;
  line-height: 12px;
}

.nav__list.active li {
  margin-bottom: 26px;
}


.nav__list img {
  display: none;
}

.nav__list.active img {
  transition: transform, 0.8s;

  @include vp-767 {
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 224px;
    transform: translateX(0);
  }
}

.nav__list li {
  list-style: none;
  margin-left: 34px;

  @include vp-1023 {
    margin-left: 24px;
  }
}

.nav__list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  transition: opacity, 0.5s;

  &:hover {
    opacity: 0.8;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }
}

.nav-br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
