.location {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 121px 71px;

  @include vp-1223 {
    padding: 100px 20px;
  }

  @include vp-1023 {
    padding: 100px 20px 130px;
  }

  @include vp-767 {
    padding: 58px 0 76px;
  }
}

.location__desc h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-dark-blue;
  margin-bottom: 33px;
  margin-top: 22px;

  @include vp-1023 {
    margin-top: 47px;
  }

  @include vp-767 {
    text-align: start;
    margin-top: 0;
  }
}

.location__desc ul {
  padding-left: 28px;

  @include vp-1023 {
    margin-top: -5px;
  }
}

.location__desc li {
  list-style: none;
  position: relative;
  margin-bottom: 20px;
}

.location__desc a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-dark-blue;
  transition: color, 0.5s;

  &:hover {
    color: #808080;
  }
}

.location__desc svg {
  position: absolute;
  top: 2px;
  left: -28px;
}
