.near-cruize {
  padding: 57px 0;
  margin-bottom: 42px;

  @include vp-1023 {
    padding: 64px 0;
    margin-bottom: 13px;
  }

  @include vp-767 {
    padding-top: 32px;
    margin-bottom: 0;
    padding-bottom: 45px;
  }
}

.near-cruize__cards {
  margin: 0 auto;
  max-width: 1130px;
  width: 100%;
  padding: 21px 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);

  @include vp-1223 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    padding: 23px 36px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0;
  }
}

.near-cruize__card {
  position: relative;
  max-width: 260px;
  width: 100%;
  min-height: 386px;
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  padding: 28px 25px;
  padding-bottom: 10px;
  background: $color-dark-blue;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

  @include vp-1223 {
    margin: 0 auto;
  }

  @include vp-1023 {
    max-width: 309px;
  }

  @include vp-767 {
    max-width: 270px;
  }

  &:hover > .near-cruize__desc {
    opacity: 1;
  }

  &:hover > .near-cruize__bg {
    opacity: 0;
  }

  &:focus-within > .near-cruize__desc {
    opacity: 1;
  }

  &:focus-within > .near-cruize__bg {
    opacity: 0;
  }
}

.near-cruize h3 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $color-dark-blue;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.near-cruize__desc {
  transition: opacity, 0.8s;
  opacity: 0;

  @include vp-1023 {
    padding: 0 10px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.near-cruize__bg {
  transition: opacity, 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  @include vp-1023 {
    object-fit: cover;
    background-size: contain;
  }
}

.near-cruize__desc h4 {
  margin-bottom: 12px;
  margin-top: 0;
  margin-left: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-white-bg;
}

.near-cruize__bg h4 {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-white-bg;

  @include vp-1023 {
    margin-left: 35px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    margin-left: 25px;
    margin-bottom: 17px;
  }
}

.near-cruize__desc span {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-white-bg;
  margin-bottom: 0;
}

.near-cruize__desc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-white-bg;
  margin-top: 0;
  margin-bottom: 8px;
}

.near-cruize__desc a {
  display: block;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 0;
  cursor: pointer;
  color: $color-dark-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  border: none;
  background-color: #f9fbfd;
  min-width: 210px;
  width: 100%;
  padding: 10px;
  transition: opacity, 0.8s;

  &:hover {
    opacity: 0.8;
  }

  @include vp-1023 {
    font-size: 14px;
  }
}

.astoria {
  background-image: image-set("../img/cruizes/astoria.png" 1x, "../img/cruizes/astoria@2x.png" 2x);

  @media (max-width: 1023px) {
    background-image: image-set("../img/cruizes/astoria-tablet.png" 1x, "../img/cruizes/astoria-tablet@2x.png" 2x);
  }

  @media (max-width: 767px) {
    background-image: image-set("../img/cruizes/astoria-mobile.png" 1x, "../img/cruizes/astoria-mobile@2x.png" 2x);
  }
}

.elain {
  background-image: image-set("../img/cruizes/elain.png" 1x, "../img/cruizes/elain@2x.png" 2x);

  @media (max-width: 1023px) {
    background-image: image-set("../img/cruizes/elain-tablet.png" 1x, "../img/cruizes/elain-tablet@2x.png" 2x);
  }

  @media (max-width: 767px) {
    background-image: image-set("../img/cruizes/elain-mobile.png" 1x, "../img/cruizes/elain-mobile@2x.png" 2x);
  }
}

.atlantis {
  background-image: image-set("../img/cruizes/atlantis.png" 1x, "../img/cruizes/atlantis@2x.png" 2x);

  @media (max-width: 1023px) {
    background-image: image-set("../img/cruizes/atlantis-tablet.png" 1x, "../img/cruizes/atlantis-tablet@2x.png" 2x);
  }

  @media (max-width: 767px) {
    background-image: image-set("../img/cruizes/atlantis-mobile.png" 1x, "../img/cruizes/atlantis-mobile@2x.png" 2x);
  }
}

.odissey {
  background-image: image-set("../img/cruizes/odissey.png" 1x, "../img/cruizes/odissey@2x.png" 2x);

  @media (max-width: 1023px) {
    background-image: image-set("../img/cruizes/odissey-tablet.png" 1x, "../img/cruizes/odissey-tablet@2x.png" 2x);
  }

  @media (max-width: 767px) {
    background-image: image-set("../img/cruizes/odissey-mobile.png" 1x, "../img/cruizes/odissey-mobile@2x.png" 2x);
  }
}

.olimpia {
  background-image: image-set("../img/cruizes/olimpia.png" 1x, "../img/cruizes/olimpia@2x.png" 2x);

  @media (max-width: 1023px) {
    background-image: image-set("../img/cruizes/olimpia-tablet.png" 1x, "../img/cruizes/olimpia-tablet@2x.png" 2x);
  }

  @media (max-width: 767px) {
    background-image: image-set("../img/cruizes/olimpia-mobile.png" 1x, "../img/cruizes/olimpia-mobile@2x.png" 2x);
  }
}

.avrora {
  background-image: image-set("../img/cruizes/avrora.png" 1x, "../img/cruizes/avrora@2x.png" 2x);

  @media (max-width: 1023px) {
    background-image: image-set("../img/cruizes/avrora-tablet.png" 1x, "../img/cruizes/avrora-tablet@2x.png" 2x);
  }

  @media (max-width: 767px) {
    background-image: image-set("../img/cruizes/avrora-mobile.png" 1x, "../img/cruizes/avrora-mobile@2x.png" 2x);
  }
}

.leonor {
  background-image: image-set("../img/cruizes/leonor.png" 1x, "../img/cruizes/leonor@2x.png" 2x);

  @media (max-width: 1023px) {
    background-image: image-set("../img/cruizes/leonor-tablet.png" 1x, "../img/cruizes/leonor-tablet@2x.png" 2x);
  }

  @media (max-width: 767px) {
    background-image: image-set("../img/cruizes/leonor-mobile.png" 1x, "../img/cruizes/leonor-mobile@2x.png" 2x);
  }
}

.minion {
  background-image: image-set("../img/cruizes/minion.png" 1x, "../img/cruizes/minion@2x.png" 2x);

  @media (max-width: 1023px) {
    background-image: image-set("../img/cruizes/minion-tablet.png" 1x, "../img/cruizes/minion-tablet@2x.png" 2x);
  }

  @media (max-width: 767px) {
    background-image: image-set("../img/cruizes/minion-mobile.png" 1x, "../img/cruizes/minion-mobile@2x.png" 2x);
  }
}
