.reservation {
  background-image: image-set("../img/form-bg.png" 1x, "../img/form-bg@2x.png" 2x);
  background-color: #bfe2fb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include vp-1023 {
    background-image: image-set("../img/form-bg-tablet.png" 1x, "../img/form-bg-tablet@2x.png" 2x);
  }
}

.reservation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 131px;
  max-width: 1366px;
  margin: 0 auto;
  min-height: 555px;

  @include vp-1223 {
    padding: 20px 40px;
  }

  @include vp-1023 {
    flex-direction: column;
    align-items: center;
    padding: 78px 0 100px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 68px;
  }
}

.reservation__desc {
  max-width: 495px;
}

.reservation__desc h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: $color-dark-blue;
  margin-bottom: 7px;
  margin-top: 10px;

  @include vp-1023 {
    font-size: 34px;
    line-height: 150%;
    text-align: center;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 12px;
  }
}

.reservation__desc p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $color-dark-blue;
  margin-top: 0;

  @include vp-1023 {
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    max-width: 390px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
    max-width: 275px;
    margin-bottom: 33px;
  }
}

.reservation__form form {
  padding: 44px 50px;
  background-color: #011c40;
  box-shadow: 0 4px 45px #011c40;
  max-width: 403px;
  min-height: 455px;
  margin-left: 30px;
  margin-top: 0;

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-767 {
    padding: 36px 30px;
  }
}

.reservation__form form p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-white-bg;
  margin-bottom: 27px;
  margin-top: 0;

  @include vp-767 {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
  }
}

.reservation__form input {
  background-color: $color-white-bg;
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(1, 28, 64, 0.7);
  }
}

.reservation__submit label {
  cursor: pointer;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $color-white-bg;
  margin-left: 23px;
  position: relative;

  &::before {
    position: absolute;
    top: -5px;
    left: -23px;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: $color-white;

    @include vp-767 {
      top: 3px;
      left: -26px;
    }
  }

  &::after {
    position: absolute;
    top: -3px;
    left: -18px;
    display: block;
    width: 8px;
    height: 10px;
    border-top: 2px solid $color-dark-blue;
    border-left: 2px solid $color-dark-blue;
    transform: rotate(-135deg);

    @include vp-767 {
      top: 5px;
      left: -20px;
    }
  }

  @include vp-767 {
    font-size: 10px;
    line-height: 120%;
    margin-left: 26px;
    display: block;
  }
}

.reservation__submit button {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color-dark-blue;
  width: 100%;
  text-align: center;
  padding: 11px;
  margin-top: 23px;
  margin-bottom: 0;

  @include vp-767 {
    margin-top: 27px;
    padding: 10px;
  }
}

.reservation__submit input {
  &:focus-visible~label::before {
    border: 2px solid #000000;
  }

  &:checked~label::after {
    content: " ";
  }
}
