.traveling {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding: 112px 0;


  @include vp-1023 {
    padding: 100px 20px 75px 20px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 20px 0;
  }
}

.traveling__description {
  max-width: 512px;
  width: 100%;
}

.traveling img {
  margin-left: 88px;
  max-width: inherit;

  @include vp-1023 {
    width: 324px;
    margin-left: 35px;
  }

  @include vp-767 {
    margin: 0 auto;
    width: 290px;
    height: 156px;
  }
}

.traveling h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $color-dark-blue;
  margin-bottom: 25px;
  margin-top: 56px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 140%;
    margin-top: -9px;
    margin-bottom: 15px;
    max-width: 225px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-top: 37px;
    margin-bottom: 20px;
    max-width: 200px;
  }
}

.traveling p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-dark-blue;

  @include vp-767 {
    margin-top: -2px;
    margin-bottom: 42px;
  }
}


.raveling-br {
  display: none;

  @include vp-1023 {
    display: block;
  }
}
