// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-style: medium;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-style: bold;
  font-weight: 600;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-style: bold;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
}
